.elementor-106 .elementor-element.elementor-element-5cc402d5:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-5cc402d5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-106 .elementor-element.elementor-element-5cc402d5 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-106 .elementor-element.elementor-element-5cc402d5>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-73719b4f img {
    width: 19%;
    margin-bottom: 40px;
}

.elementor-106 .elementor-element.elementor-element-73719b4f>.elementor-widget-container {
    margin: 0px 0px -46px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-106 .elementor-element.elementor-element-3d8ed6bd>.elementor-container {
    max-width: 1400px;
}

.elementor-106 .elementor-element.elementor-element-3d8ed6bd:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-3d8ed6bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-106 .elementor-element.elementor-element-3d8ed6bd {
    box-shadow: 0px 0px 10px 0px rgba(98.99999999999999, 98.99999999999999, 98.99999999999999, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

.elementor-106 .elementor-element.elementor-element-3d8ed6bd>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-7c43eb63>.elementor-widget-container {
    margin: 0px 0px 0px 150px;
    padding: 0px 0px 0px 0px;
}

.elementor-106 .elementor-element.elementor-element-749d110d>.elementor-element-populated {
    margin: 0px 0px -10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 5px 0px 0px 0px;
}

.elementor-106 .elementor-element.elementor-element-507a66b5>.elementor-widget-container {
    margin: 0px 0px 0px 200px;
}

.elementor-106 .elementor-element.elementor-element-75fa558a:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-75fa558a>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-106 .elementor-element.elementor-element-75fa558a {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-106 .elementor-element.elementor-element-75fa558a>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-7b45d966>.elementor-element-populated {
    margin: 0px 26px 0px 26px;
    --e-column-margin-right: 26px;
    --e-column-margin-left: 26px;
}

.elementor-106 .elementor-element.elementor-element-15ed3c69:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-15ed3c69>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-106 .elementor-element.elementor-element-15ed3c69 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-106 .elementor-element.elementor-element-15ed3c69>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-75279c90:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #202024;
}

.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated,
.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated>.elementor-background-overlay,
.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 38px 10px 38px;
    --e-column-margin-right: 38px;
    --e-column-margin-left: 38px;
}

.elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-104a8f47:not(.elementor-motion-effects-element-type-background),
.elementor-106 .elementor-element.elementor-element-104a8f47>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-106 .elementor-element.elementor-element-104a8f47 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-106 .elementor-element.elementor-element-104a8f47>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-106 .elementor-element.elementor-element-72ddfa45>.elementor-widget-wrap>.elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
}

.elementor-106 .elementor-element.elementor-element-72ddfa45>.elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: -1px -1px -1px -1px;
}

.elementor-106 .elementor-element.elementor-element-4134e2ee {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-bcf1c0 {
    text-align: center;
}

.elementor-106 .elementor-element.elementor-element-bcf1c0 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-7ece44a3 {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-6bd0ee9f {
    color: #9b9b9b;
    font-family: "Muli", Sans-serif;
    font-size: 1em;
    font-weight: 500;
    line-height: 1.5em;
}

.elementor-106 .elementor-element.elementor-element-1ea18ab8 .elementor-wrapper {
    --video-aspect-ratio: 1.77777;
    filter: brightness(81%) contrast(122%) saturate(94%) blur(0px) hue-rotate(0deg);
}

.elementor-106 .elementor-element.elementor-element-1ea18ab8>.elementor-widget-container {
    border-radius: 10px 10px 10px 10px;
}

.elementor-106 .elementor-element.elementor-element-7c349068 {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-35d70184 {
    text-align: center;
}

.elementor-106 .elementor-element.elementor-element-35d70184 .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-62bc0f8a {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-1768e50f .elementor-button {
    background-color: #2AB83E;
}

.elementor-106 .elementor-element.elementor-element-446d0db1 {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-3f986b8d {
    text-align: center;
}

.elementor-106 .elementor-element.elementor-element-3f986b8d .elementor-heading-title {
    color: #FFFFFF;
}

.elementor-106 .elementor-element.elementor-element-7919301d {
    --spacer-size: 50px;
}

.elementor-106 .elementor-element.elementor-element-26f40630 .elementor-button {
    background-color: #AB2A0F;
}

.elementor-106 .elementor-element.elementor-element-3a9f469d {
    --spacer-size: 50px;
}

:root {
    --page-title-display: none;
}

body.elementor-page-106:not(.elementor-motion-effects-element-type-background),
body.elementor-page-106>.elementor-motion-effects-container>.elementor-motion-effects-layer {}

@media(max-width: 1024px) and (min-width:768px) {
    .elementor-106 .elementor-element.elementor-element-72ddfa45 {
        width: 100%;
    }
}

@media(max-width: 1024px) {
    .elementor-106 .elementor-element.elementor-element-73719b4f img {
        width: 17%;
        margin-bottom: 40px;
    }

    .elementor-106 .elementor-element.elementor-element-3d8ed6bd>.elementor-container {
        max-width: 1600px;
    }

    .elementor-106 .elementor-element.elementor-element-7c43eb63>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-106 .elementor-element.elementor-element-507a66b5>.elementor-widget-container {
        margin: 0px 0px 0px 125px;
    }

    .elementor-106 .elementor-element.elementor-element-7b45d966>.elementor-element-populated {
        margin: 0px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
    }

    .elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated {
        margin: 10px 30px 10px 30px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 30px;
    }

    .elementor-106 .elementor-element.elementor-element-bcf1c0 {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-6bd0ee9f {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-35d70184 {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-3f986b8d {
        text-align: center;
    }
}

@media(max-width: 767px) {
    .elementor-106 .elementor-element.elementor-element-73719b4f img {
        width: 67%;
        margin-bottom: 40px;
    }

    .elementor-106 .elementor-element.elementor-element-3d8ed6bd {
        padding: 10px 0px 9px 0px;
    }

    .elementor-106 .elementor-element.elementor-element-323c1cac {
        width: 33%;
    }

    .elementor-106 .elementor-element.elementor-element-7c43eb63 {
        z-index: 100;
    }

    .elementor-106 .elementor-element.elementor-element-7fa3ce4d {
        width: 33%;
    }

    .elementor-106 .elementor-element.elementor-element-749d110d {
        width: 33%;
    }

    .elementor-106 .elementor-element.elementor-element-507a66b5>.elementor-widget-container {
        margin: 0px 0px 0px 0px;
    }

    .elementor-106 .elementor-element.elementor-element-7b45d966>.elementor-element-populated {
        margin: 0px 5px 0px 5px;
        --e-column-margin-right: 5px;
        --e-column-margin-left: 5px;
    }

    .elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated,
    .elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated>.elementor-background-overlay,
    .elementor-106 .elementor-element.elementor-element-75279c90>.elementor-background-slideshow {
        border-radius: 5px 5px 5px 5px;
    }

    .elementor-106 .elementor-element.elementor-element-75279c90>.elementor-element-populated {
        margin: 10px 15px 10px 15px;
        --e-column-margin-right: 15px;
        --e-column-margin-left: 15px;
    }

    .elementor-106 .elementor-element.elementor-element-bcf1c0 {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-6bd0ee9f {
        text-align: center;
        font-size: 0.9rem;
    }

    .elementor-106 .elementor-element.elementor-element-35d70184 {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-62bc0f8a {
        --spacer-size: 17px;
    }

    .elementor-106 .elementor-element.elementor-element-3f986b8d {
        text-align: center;
    }

    .elementor-106 .elementor-element.elementor-element-7919301d {
        --spacer-size: 17px;
    }
}

/* Start custom CSS for html, class: .elementor-element-e4a86a2 */
.elementor-1014 .elementor-element.elementor-element-60b29107>.elementor-container {
    max-width: 1400px;
}

.elementor-1014 .elementor-element.elementor-element-60b29107:not(.elementor-motion-effects-element-type-background),
.elementor-1014 .elementor-element.elementor-element-60b29107>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-1014 .elementor-element.elementor-element-60b29107 {
    box-shadow: 0px 0px 10px 0px rgba(98.99999999999999, 98.99999999999999, 98.99999999999999, 0);
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 0px 0px 0px;
}

.elementor-1014 .elementor-element.elementor-element-60b29107>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-229f4f7 {
    text-align: center;
}

.elementor-1014 .elementor-element.elementor-element-229f4f7 .elementor-heading-title {
    color: #FFFFFF;
    font-family: "Montserrat", Sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.elementor-1014 .elementor-element.elementor-element-4196da49>.elementor-element-populated {
    margin: 0px 0px -10px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 5px 0px 0px 0px;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-stacked .elementor-icon {
    background-color: #FFFFFF;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-framed .elementor-icon,
.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-default .elementor-icon {
    fill: #FFFFFF;
    color: #FFFFFF;
    border-color: #FFFFFF;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-stacked .elementor-icon:hover {
    background-color: #818181;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-framed .elementor-icon:hover,
.elementor-1014 .elementor-element.elementor-element-2116a01c.elementor-view-default .elementor-icon:hover {
    fill: #818181;
    color: #818181;
    border-color: #818181;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c {
    --icon-box-icon-margin: -10px;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon {
    font-size: 21px;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title {
    color: #BDBDBD;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title,
.elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title a {
    font-family: "Montserrat", Sans-serif;
    font-size: 13px;
    font-weight: 700;
}

.elementor-1014 .elementor-element.elementor-element-2116a01c>.elementor-widget-container {
    margin: 0px -30px 0px 0px;
    padding: 6px 0px 0px 0px;
}

.elementor-1014 .elementor-element.elementor-element-1d60599f:not(.elementor-motion-effects-element-type-background),
.elementor-1014 .elementor-element.elementor-element-1d60599f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-1014 .elementor-element.elementor-element-1d60599f {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-1d60599f>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-22ee284a>.elementor-element-populated {
    margin: 0px 26px 0px 26px;
    --e-column-margin-right: 26px;
    --e-column-margin-left: 26px;
}

.elementor-1014 .elementor-element.elementor-element-36d81ed8 {
    --divider-border-style: solid;
    --divider-color: #454545;
    --divider-border-width: 1px;
}

.elementor-1014 .elementor-element.elementor-element-36d81ed8 .elementor-divider-separator {
    width: 100%;
}

.elementor-1014 .elementor-element.elementor-element-36d81ed8 .elementor-divider {
    padding-top: 23px;
    padding-bottom: 23px;
}

.elementor-1014 .elementor-element.elementor-element-36d81ed8>.elementor-widget-container {
    margin: -20px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.elementor-1014 .elementor-element.elementor-element-44fe7656:not(.elementor-motion-effects-element-type-background),
.elementor-1014 .elementor-element.elementor-element-44fe7656>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-1014 .elementor-element.elementor-element-44fe7656 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    padding: 0px 0px 0px 0px;
}

.elementor-1014 .elementor-element.elementor-element-44fe7656>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-45b09738:not(.elementor-motion-effects-element-type-background)>.elementor-widget-wrap,
.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-widget-wrap>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #202024;
}

.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated,
.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated>.elementor-background-overlay,
.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-background-slideshow {
    border-radius: 5px 5px 5px 5px;
}

.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
    margin: 10px 38px 10px 38px;
    --e-column-margin-right: 38px;
    --e-column-margin-left: 38px;
}

.elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-e353617:not(.elementor-motion-effects-element-type-background),
.elementor-1014 .elementor-element.elementor-element-e353617>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

.elementor-1014 .elementor-element.elementor-element-e353617 {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-e353617>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-7c9ac7ac>.elementor-element-populated {
    transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-7c9ac7ac>.elementor-element-populated>.elementor-background-overlay {
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.elementor-1014 .elementor-element.elementor-element-3bf5f7d {
    --spacer-size: 80px;
}

body.elementor-page-1014:not(.elementor-motion-effects-element-type-background),
body.elementor-page-1014>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: #121214;
}

@media(max-width: 1024px) {
    .elementor-1014 .elementor-element.elementor-element-60b29107>.elementor-container {
        max-width: 1600px;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c>.elementor-widget-container {
        margin: 0px 30px 0px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-22ee284a>.elementor-element-populated {
        margin: 0px 20px 0px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
    }

    .elementor-1014 .elementor-element.elementor-element-36d81ed8>.elementor-widget-container {
        margin: -20px 0px 0px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated {
        margin: 10px 30px 10px 30px;
        --e-column-margin-right: 30px;
        --e-column-margin-left: 30px;
    }

    .elementor-1014 .elementor-element.elementor-element-3bf5f7d {
        --spacer-size: 90px;
    }
}

@media(max-width: 767px) {
    .elementor-1014 .elementor-element.elementor-element-60b29107 {
        padding: 10px 0px 9px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-fa72979 {
        width: 33%;
    }

    .elementor-1014 .elementor-element.elementor-element-229f4f7 {
        text-align: left;
    }

    .elementor-1014 .elementor-element.elementor-element-229f4f7>.elementor-widget-container {
        margin: 2px 0px 0px 15px;
        padding: 0px 0px 0px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-3c210687 {
        width: 33%;
    }

    .elementor-1014 .elementor-element.elementor-element-4196da49 {
        width: 33%;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c {
        --icon-box-icon-margin: -10px;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon {
        font-size: 22px;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title {
        margin-bottom: 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title,
    .elementor-1014 .elementor-element.elementor-element-2116a01c .elementor-icon-box-title a {
        font-size: 12px;
    }

    .elementor-1014 .elementor-element.elementor-element-2116a01c>.elementor-widget-container {
        margin: 0px 20px 0px 0px;
        padding: 4px 0px 0px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-22ee284a>.elementor-element-populated {
        margin: 0px 10px 0px 10px;
        --e-column-margin-right: 10px;
        --e-column-margin-left: 10px;
    }

    .elementor-1014 .elementor-element.elementor-element-36d81ed8 .elementor-divider {
        padding-top: 5px;
        padding-bottom: 5px;
    }

    .elementor-1014 .elementor-element.elementor-element-36d81ed8>.elementor-widget-container {
        margin: -12px 0px 0px 0px;
    }

    .elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated,
    .elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated>.elementor-background-overlay,
    .elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-background-slideshow {
        border-radius: 5px 5px 5px 5px;
    }

    .elementor-1014 .elementor-element.elementor-element-45b09738>.elementor-element-populated {
        margin: 10px 20px 10px 20px;
        --e-column-margin-right: 20px;
        --e-column-margin-left: 20px;
    }

    .elementor-1014 .elementor-element.elementor-element-3bf5f7d {
        --spacer-size: 40px;
    }
}

/* Start custom CSS for html, class: .elementor-element-36762721 */
#myProgress {
    width: 50px;
    max-width: 40px;
    height: 15px;
    background: #F4F4F4;
    -webkit-box-shadow: inset -1px 1px 2px rgba(200, 200, 200, 0.2), inset 1px -1px 2px rgba(200, 200, 200, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(200, 200, 200, 0.9);
    box-shadow: inset -1px 1px 2px rgba(200, 200, 200, 0.2), inset 1px -1px 2px rgba(200, 200, 200, 0.2), inset -1px -1px 2px rgba(255, 255, 255, 0.9), inset 1px 1px 3px rgba(200, 200, 200, 0.9);
    border-radius: 28px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
    top: 7px;
}

#myBar {
    width: 10%;
    height: 100%;
    background: rgba(0, 255, 0, 0.815);
    border-radius: 28px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-animation: loading82341 5s ease infinite;
    animation: loading82341 5s ease infinite;
}

@-webkit-keyframes loading82341 {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

@keyframes loading82341 {
    0% {
        width: 0%;
    }

    10% {
        width: 10%;
    }

    50% {
        width: 40%;
    }

    60% {
        width: 60%;
    }

    100% {
        width: 100%;
    }
}

/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-113b26fb */
.loader {
    width: 24px;
    height: 24px;
    background: #353535;
    display: inline-block;
    margin: 0;
    position: relative;
    box-sizing: border-box;
    animation: rotationBack 1s ease-in-out infinite reverse;
    top: 5px;
    /* Posiciona 1 pixel abaixo */
}

.loader::before {
    content: '';
    box-sizing: border-box;
    left: 0;
    top: 0;
    transform: rotate(45deg);
    position: absolute;
    width: 24px;
    height: 24px;
    background: #2e2e2e;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.loader::after {
    content: '';
    box-sizing: border-box;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    background: rgb(0, 0, 0);
    transform: translate(-50%, -50%);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

@keyframes rotationBack {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}

/* End custom CSS */
/* End custom CSS */